body {
    background-color: beige;
}

input {
    width: 250px;
}

#result {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

table, td, th {
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    text-align: left;
}

